<h2>Add an Answer</h2>
<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="author" class="control-label col-xs-2">Your Name</label>
      <div class="col-xs-10">
        {{input value=author}}
      </div>
    </div>
    <div class="form-group">
      <label for="text" class="control-label col-xs-2">Answer</label>
      <div class="col-xs-10">
        {{textarea cols="80" rows="6" value=text }}
      </div>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
    <button {{action 'saveAnswer'}}>Save</button>
  </div>
  </form>
</div>
