{{#if answers}}
  {{#each answers as |answer|}}
    <h3> {{answer.question.text}}</h3>
    <h4>Answer: {{answer.text}}</h4>
  {{/each}}
{{else}}
  <p>
    No favorites to display.  Please select your first favorite.
  </p>
{{/if}}
