<div class="form-group">
  <div class="col-xs-6">
    <label class="col-xs-4 control-label">{{voteCount}}</label>
    <button {{action 'addUpvote' answer}} class="btn btn-info btn-md"><span class="glyphicon glyphicon-plus"></span>  Vote</button>
  </div>
  <label for="inputValue" class="col-md-1 control-label">Favorite</label>
  <div class="col-md-2">
    {{input type="checkbox" class="pull-right" change=(action 'toggleAnswerInFavoritesList' answer)}}
  </div>
</div>
