<h1>Question View</h1>
{{question-detail question=model update="update"}}
<hr>
<h3>Answers</h3>
{{#each model.answers as |answer|}}
  {{answer-detail answer=answer}}
{{/each}}
{{answer-new question=model saveAnswer="saveAnswer"}}
