<h1>Question View</h1>
{{question-detail question=model update="update"}}
<hr>
{{answer-detail question=model updateAnswer="updateAnswer" addUpvote="addUpvote"}}
{{answer-new question=model saveAnswer="saveAnswer"}}
